
prisma
node_modules
# Keep environment variables out of version control
.venv
venv
#cache de python
__pycache__
# Jupyter Notebook checkpoints
.ipynb_checkpoints



.prisma

package-lock.json
node_modules

public