pydantic
pydantic[email]
annotated-types
anyio
bcrypt
certifi
click
colorama
exceptiongroup
fastapi
h11
httpcore
httpx
idna
Jinja2
MarkupSafe
nodeenv
prisma
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
sib-api-v3-sdk
six
sniffio
starlette
StrEnum
tomlkit
typing_extensions
urllib3
uvicorn
prisma-client